@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    height: -webkit-fill-available;
  }

  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: 100dvh;
    @apply bg-beige-100 text-cafe-dark antialiased;
  }
}

@layer utilities {
  .touch-manipulation {
    touch-action: manipulation;
  }
  .h-screen-safe {
    height: 100dvh;
  }
}
